@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    src: url(/static/fonts/open-sans-v15-latin-300.woff2)
}

@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    src: url(/static/fonts/open-sans-v15-latin-regular.woff2)
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    src: url(/static/fonts/open-sans-v15-latin-600.woff2)
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    src: url(/static/fonts/open-sans-v15-latin-700.woff2)
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 800;
    src: url(/static/fonts/open-sans-v15-latin-800.woff2)
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    src: url(/static/fonts/open-sans-v15-latin-300italic.woff2)
    font-style: italic, oblique;
}

@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    src: url(/static/fonts/open-sans-v15-latin-italic.woff2)
    font-style: italic, oblique;
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    src: url(/static/fonts/open-sans-v15-latin-600italic.woff2)
    font-style: italic, oblique;
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    src: url(/static/fonts/open-sans-v15-latin-700italic.woff2)
    font-style: italic, oblique;
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 800;
    src: url(/static/fonts/open-sans-v15-latin-800italic.woff2)
    font-style: italic, oblique;
}

body {
	height: 100%;
	font-family: 'Open Sans';
}

.logo-cnt {
	padding: 2em;
	text-align: center;
	background-color: #1282ef;
	box-shadow: 0 0 11px 0px #678196;
}

.logo-cnt > img {
    width: 15em;
    max-width: 100%;
}

.logo-cnt > h1, .logo-cnt > h2 {
    color: white;
}

.logo-cnt > h1 {
    font-size: 1.7em;
    background-color: #ec581a;
    border: 2px solid #61250a;
    width: 5em;
    text-align: center;
    margin: auto;
    padding: 0.3em 0.15em;
    height: 1.5em;
    border-radius: 1.5em;
    line-height: 0.5;
    font-weight: 600;
}

.logo-cnt > h2 {
    font-size: 1em;
    line-height: 2em;
    font-weight: 400;
}
/*
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}*/

.box {
    display: flex;
    flex-wrap: wrap;
}

.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

.box > * {
    position: relative;
    flex-basis: calc(33% - 1.5em);
    display: block;
    padding: 20px;
    border: 1px solid #cccccc;
    grid-column: 1;
    margin: 0 0.75em;
    border-radius: 0.5em;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.box__input input[type="file"] {
    display: none;
}

label, .box__button {
    text-align: center;
    margin: auto auto 1em;
    display: block;
    background-color: #3282c0;
    color: white;
    width: fit-content;
    padding: 5px 1em;
    border-radius: 0.5em;
    cursor: pointer;
    transition: 0.1s all ease;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    text-transform: uppercase;
    border: 0px none;
}

label:hover, .box__button:hover {
    background-color: #5bbaec;
}

label:active, .box__button:active {
    background-color: #4eb0e4;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    transform: translateX(1px) translateY(1px);
}

.box__button:disabled, .box__button:hover:disabled, .box__button:active:disabled  {
    cursor: auto;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    background-color: #b7b7b7;   
}

#gokargo-result {
    height: 400px;
    width: calc(100% - 2.5em);
    border: 2px solid #75899E;
    margin: auto;
}

.step > .step-cnt {
    color: white;
    background-color: cadetblue;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
    vertical-align: middle;
    border-radius: 2em;
    margin: auto;
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    transition: 0.5s box-shadow ease;
    box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.1);
}

.step-title {
    line-height: 2.5em;
    font-weight: 600;
    text-align: center;
    height: 3em;
    margin-bottom: 0.5em;
}

.step-progress {
    width: 100%;
    height: 0.4em;
    margin: 1em auto;
    background-color: #c7c7c7;
    /* background-color: #6495ed; */
}

.step-file {
    font-weight: 600;
    height: 3em;
    word-break: break-all;
}


.step-file.no-file {
    color: #d20000;
}

.step-file {
    margin: 2em 0.5em 1em;
    text-align: center;
}

.step-desc {
    height: 10.2em;
}

#prog-upload .step-desc {
    height: 100%;
    margin-bottom: 2em;
}

.step-progress-bar {
    background-color: #6495ed;
    width: 0%;
    height: 100%;
}

@keyframes success {
    0%  { background-color: #6495ed; width: 0%; }
    100% { width: 100%; }
}

@keyframes fail {
    0%  { background-color: #6495ed; width: 100%; }
    100% { background-color: #d20000; width: 0%; }
}

@keyframes upload-complete {
    0%  { background-color: #6495ed; width: 0%; }
    100% { background-color: #6495ed; width: 50%; }
}

@keyframes upload-success {
    0%  { width: 50%; }
    100% { width: 100%; }
}

@keyframes upload-fail {
    0%  { background-color: #6495ed; width: 50%; }
    100% { background-color: #d20000; width: 100%;}
}

.step-progress-bar.success {
    animation: success 0.5s 0s ease forwards;
    background-color: #6495ed;
    width: 100%;
}

.step-progress-bar.fail {
    animation: fail 0.5s 0s ease;
    background-color: #6495ed;
    width: 0%;
}

.step-progress-bar.upload-complete {
    animation: upload-complete 0.5s 0s ease forwards;
    background-color: #6495ed;
    width: 50%;
}

.step-progress-bar.upload-success {
    animation: upload-success 1s 0s ease forwards;
    width: 100%;
}

.step-progress-bar.upload-fail {
    animation: upload-fail 1s 0s ease forwards;
    background-color: #d20000;
    width: 100%;
}

#msg.error {
    color: #d20000;
}

#msg.success {
    color: #1d8429;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    margin: 1em auto;
    font-weight: 600;
}

div.vis-tooltip {
    font-family: 'Open Sans';
    padding-bottom: 0;
}

.vis-tooltip th {
    width: 5.5em;
    line-height: 1.3em;
    white-space: normal;
    padding-bottom: 0.7em;
    padding-right: 1.8em;
}

.vis-tooltip td {
    width: 8em;
    line-height: 1.3em;
    white-space: normal;
}

.vis-tooltip table {
    margin: 0.5em;
}

.vis-tooltip tr {
    vertical-align: baseline;
}

#legend-net {
    height: 120px;
    width: 300px;
    margin: auto;
}

.result p {
    margin-bottom: 0;
    margin-top: 0.5em;
    font-size: 1.3em;
}

.result h3, .result p {
    text-align: center;
}

#gokargo-result.disabled {
    background-color: lightgrey;
    border-color: grey;
}

#gokargo-csv {
    text-align: center;
}

@media only screen and (max-width: 992px) {
    .box {
        flex-direction: column;
    }

    .box > * {
        position: relative;
        flex-basis: 100%;
        margin: 1em auto;
        max-width: 500px;
        width: calc(100% - 3em);
        padding-left: 2em;
        padding-right: 2em;
    }

    .step-title {
        font-weight: 600;
        height: 100%;
        text-align: center;
        margin-bottom: 0.5em;
    }

    .step-desc {
        height: 100%;
    }

    .step-progress {
        margin:1em 0;
    }
}